.reset-password-container {
  height: 25vh;

  .mat-card {
    width: 100%;
    max-width: 300px;
    margin: 20px;
  }

  .full-width-input,
  .full-width-button {
    width: 100%;
  }
}
