body {
  font-family: Arial, sans-serif;
  font-size: 7pt;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-panels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.panel {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  box-sizing: border-box;
}

.understaffed-toggle-panel {
  width: 100%;
  max-width: 250px; /* Ensure consistent width with other panels */
}

.mat-toolbar {
  background-color: #5b9bd5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
}

.toolbar-spacer {
  flex: 1;
}

.mat-icon-button {
  margin-left: 8px;
}

.mat-form-field {
  width: 100%;
  box-sizing: border-box;
}

/* Other styles... */

.panel-header {
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
      margin-right: 8px;
    }
  }
}

.panel-header h3 {
  margin: 0;
  flex-grow: 1; /* Allows the title to take up available space */
}

.timetable {
  width: 1500px;
  display: grid;
  grid-template-columns: 60px repeat(13, minmax(0, 1fr));
  grid-auto-rows: 30px;
  gap: 2px;
}

.header {
  background-color: #5b9bd5; /* The color for headers */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e86c1;
}

.timeslot {
  background-color: #f0f0f0; /* The color for time cells */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  grid-column: 1;
}

.session {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #dddddd;
  padding: 0;
  margin: 0;
}

.session > div {
  flex: 1; /* Each child div takes up an equal amount of space */
  display: flex;
  justify-content: flex-start; /* Aligns content to the start horizontally */
  align-items: flex-start; /* Aligns content to the start vertically */
  text-align: left; /* Aligns text to the left */
  padding: 0 5px;
  height: 100%;
}

.event {
  border: 1px solid #dddddd;
  background-color: #f8cbad;
  display: flex;
  justify-content: flex-start; /* Aligns content to the start horizontally */
  align-items: flex-start; /* Aligns content to the start vertically */
  padding: 5px;
}
