<mat-card>
  <mat-card-title>Weekly Course Schedule</mat-card-title>
  <table class="calendar">
    <thead>
      <tr>
        <th>Time</th>
        <th *ngFor="let day of weekDays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let timeSlot of timeSlots; let i = index">
        <tr>
          <td>{{ timeSlot }}</td>
          <td *ngFor="let day of weekDays; let di = index">
            <ng-container
              *ngIf="
                getBookingsForTimeSlot(timeSlot, day).length;
                else emptyCell
              "
            >
              <td
                [attr.colspan]="booking.colspan"
                *ngFor="let booking of getBookingsForTimeSlot(timeSlot, day)"
              >
                <div class="booking-chip">
                  <!-- Booking details here -->
                  <span
                    >Room: {{ booking.roomNumber }} -
                    {{ booking.capacity }} Students</span
                  >
                  <span>Class: {{ booking.class }}</span>
                  <span>Lecturer: {{ booking.lecturer }}</span>
                  <span>Tutors: {{ booking.tutors.join(", ") }}</span>
                </div>
              </td>
            </ng-container>
            <ng-template #emptyCell><td></td></ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</mat-card>
