body {
  font-family: Arial, sans-serif;
  font-size: 7pt;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-panels {
  display: flex;
  justify-content: flex-start;
  gap: 10px; // Space between panels
  margin-bottom: 20px;

  .panel {
    padding: 10px;

    max-width: 200px;
    margin-top: 10px;
    flex: 1; // Make panels flexible in size

    h3 {
      margin-top: 0;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  /* Style for the buttons */
  .panel button {
    background-color: #f5f5f7; /* Light grey color */
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    font-size: 8px;
    margin: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  .panel button:hover {
    background-color: #e4e4e6; /* Slightly darker on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  align-items: flex-start; /* Align items to the start of the container */
  flex-wrap: wrap;
  gap: 20px; /* Consistent gap between panels */
}

.panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px; /* Adjust the gap between the select and the icons as needed */
}

.select-with-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligns items to the top */
}

.mat-form-field {
  flex-grow: 1; /* Allows the select field to fill the space */
}

.icon-wrapper {
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  justify-content: space-between; /* Distributes spacing evenly */
  height: 100%; /* Set the height to match mat-form-field */
}

button.mat-icon-button {
  margin: 0; /* Remove any default margins */
  padding: 0; /* Adjust padding to fit design */
}

.small-icon {
  /* Scale down the icon to 50% of its original size */
  transform: scale(0.65);
  /* Removing margin and padding to help with alignment */
  margin: 0;
  padding: 0;
  /* Align the icon center if needed after scaling */
  align-self: center;
}

.understaffed-toggle-panel {
  flex-grow: 0; /* Prevents the toggle panel from growing */
  display: flex;
  align-items: center;
}

.toggle-label {
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust label font size as needed */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .filter-panels {
    flex-direction: column;
  }

  .panel {
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove max-width constraint */
  }
}

.timetable {
  width: 1500px;
  display: grid;
  grid-template-columns: 60px repeat(13, minmax(0, 1fr));
  grid-auto-rows: 40px;
  gap: 2px;
}

.header {
  background-color: #5b9bd5; /* The color for headers */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4e86c1;
}

.timeslot {
  background-color: #f0f0f0; /* The color for time cells */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  grid-column: 1;
}

.session {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #dddddd;
  padding: 0;
  margin: 0;
}

.session > div {
  flex: 1; /* Each child div takes up an equal amount of space */
  display: flex;
  justify-content: flex-start; /* Aligns content to the start horizontally */
  align-items: flex-start; /* Aligns content to the start vertically */
  text-align: left; /* Aligns text to the left */
  padding: 0 5px;
}

.event {
  display: flex;
  border: 1px solid #dddddd;
  background-color: #f8cbad;
  flex-direction: column; // Set flex direction to column
  padding: 5px;
  position: relative; // Position relative for absolute positioning of checkbox
}

.event-content {
  display: flex;
  height: 100%;
  flex-direction: column; // Set flex direction to column
  position: relative; // Position relative for absolute positioning of checkbox
  /* Contains all other content inside the event div */
}

.event-checkbox {
  position: absolute;
  bottom: 5px; // Adjust as necessary to align with the bottom of the event div
  left: 5px; // Adjust for horizontal alignment
}

.understaffed {
  // Styles for understaffed event
  border: 3px solid red;
  background-color: #cccccc;
}

.overstaffed {
  // Styles for overstaffed event
  background-color: black;
  color: white;
}

.radio-option:last-child {
  margin-right: 0; // Removes margin for the last radio button
}

.custom-radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

.radio-option input[type="radio"] {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

/* In parent component's CSS */
.radio-options-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
