<div class="container" *ngIf="data; else noData">
  <h1>{{ collection | titlecase }} List</h1>

  <div class="content">
    <ng-content></ng-content>
    <ng-container>
      <mi-table
        [allowAdd]="true"
        [allowBulkUpload]="true"
        [allowDeleteColumns]="false"
        [allowDeleteAll]="true"
        [allowMergeColumns]="false"
        [columns]="columns"
        [editableColumnHeadings]="false"
        [data]="data"
        [totalColumns]="totalColumns"
        [collection]="collection"
        (dataChanged)="onDataChanged($event)"
        (emitRecord)="navigateToDetails($event)"
        (deleteRecord)="deleteEntity($event.id, $event.event)"
        (addRecord)="addNewRecord()"
        (bulkUpload)="bulkUpload()"
        (emitDeleteAll)="deleteAll()"
      ></mi-table>
    </ng-container>
  </div>
</div>
<ng-template #noData>
  <mi-loading></mi-loading>
</ng-template>
