.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .mat-card {
    width: 100%;
    max-width: 400px;
    margin: 20px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .full-width-input,
  .full-width-button {
    width: 100%;
  }
}
