<div class="container">
  <div class="content">
    <h1>{{ collection | titlecase }} List</h1>
    {{ collection }}
    <!-- <ng-container *ngIf="!isLoading; else dataLoaded">
      <div class="loading">Loading data...</div>
    </ng-container> -->

    <ng-container>
      <ng-content></ng-content>
      <mi-table
        [allowAdd]="true"
        [allowBulkUpload]="true"
        [allowDeleteColumns]="false"
        [allowMergeColumns]="false"
        [columns]="columns"
        [editableColumnHeadings]="false"
        [data]="data"
        [totalColumns]="totalColumns"
        [collection]="collection"
        (dataChanged)="onDataChanged($event)"
        (emitRecord)="navigateToDetails($event)"
        (deleteRecord)="deleteEntity($event.id, $event.event)"
        (addRecord)="addNewRecord()"
        (bulkUpload)="bulkUpload()"
      ></mi-table>
    </ng-container>

    <ng-template #noData>
      <div class="no-records">There are currently no records.</div>
      <mi-excel-reader></mi-excel-reader>
    </ng-template>
  </div>
</div>
