<mat-toolbar class="calendar-toolbar">
  <button mat-icon-button (click)="navigateTo('prev')">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      (dateChange)="onDateSelect($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button (click)="navigateTo('next')">
    <mat-icon>chevron_right</mat-icon>
  </button>
</mat-toolbar>

<div class="calendar">
  <div class="header-row">
    <div class="cell timeslot-header"></div>

    <div class="cell date-cell" *ngFor="let date of dates">
      {{ date | date : "EEE, d MMM" }}
    </div>
  </div>
  <div class="content-row" *ngFor="let timeslot of timeslots">
    <div class="cell timeslot-cell">{{ timeslot }}</div>
    <div class="cell day-cell" *ngFor="let date of dates"></div>
  </div>
</div>
