@if(data$ | async; as data){

<div
  id="main-container"
  [attr.dir]="miAppConfig?.isRtl ? 'rtl' : 'ltr'"
  *ngIf="data.currentUser"
>
  <mat-toolbar color="primary" [class.toolbar-rtl]="miAppConfig?.isRtl">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-title" *ngIf="miAppConfig.showAppTitle">{{
      miAppConfig?.title
    }}</span>

    <span class="menu-items">
      <a
        *ngFor="
          let item of data.currentUser
            ? miAppConfig.loggedInItems
            : miAppConfig.loggedOutItems
        "
        href="javascript:void(0)"
        (click)="onItemClick(item)"
      >
        {{ item }}
      </a>
      {{ data.currentUser?.email }}
    </span>
  </mat-toolbar>

  <mat-sidenav-container
    [class.mat-rtl]="miAppConfig?.isRtl"
    [class.mat-ltr]="!miAppConfig?.isRtl"
  >
    <mat-sidenav
      #sidenav
      mode="side"
      opened="true"
      [attr.dir]="miAppConfig?.isRtl ? 'rtl' : 'ltr'"
    >
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let item of miAppConfig?.sidenavMenuItems"
          (click)="onItemClick(item)"
        >
          {{ item.title }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-content></ng-content>

  <footer class="footer">
    <span>&copy; Your Company. All rights reserved.</span>
  </footer>
</div>
}
