.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // This can be adjusted to your desired height
  width: 100%; // This can be adjusted to your desired width
}

.loading-image {
  height: 50%;
}
