.table-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.header-controls {
  display: flex;
  gap: 4px;
}

.row-actions {
  display: flex;
  gap: 4px;
}

.edit-column-field,
.edit-data-field {
  max-width: 5rem;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-data-field {
  width: 100%;
  max-width: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.merge-columns-container {
  display: flex;
  flex-direction: column;
}

.numeric {
  text-align: right;
}

.negative-value {
  color: red !important;
}

.max-content-width {
  width: 5rem;
  overflow: hidden;
}

.max-content-width input {
  width: auto;
}

.button {
  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}

.header-controls {
  display: flex;
  justify-content: flex-start;

  > button {
    margin-right: 4px;
  }
}

.mat-header-cell input {
  width: 25%;
}

.column-filter {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .table-controls {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .table-controls {
    flex-direction: column;
    align-items: center;
  }
}

.mat-cell,
.mat-header-cell {
  flex: 1 0 auto;
}

.table-controls {
  margin-bottom: 20px;
}
