<ng-container *ngIf="data$ | async as data">
  <mi-loading *ngIf="data.isLoading"></mi-loading>
  <mi-error-message
    *ngIf="data.error"
    [message]="data.error"
  ></mi-error-message>

  <div
    class="article-preview"
    *ngFor="let article of data['data']?.['articles']"
  >
    <div class="article-meta">
      <a [routerLink]="['/profile', article.author.username]">
        <img [src]="article.author.image" alt="" />
      </a>

      <div class="info">
        <a [routerLink]="['/profile', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
        <div class="pull-xs-right">ADD TO FAVOURITES</div>
      </div>
    </div>
    <a [routerLink]="['/article', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <ul class="tag-list">
        <li
          class="tag-default tag-pill tag-outline"
          *ngFor="let tag of article.tagList"
        >
          {{ tag }}
        </li>
      </ul>
    </a>
  </div>
</ng-container>
