<div>
  <div>
    <h1>Tutor List</h1>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        matInput
        #filterValue
        (keyup)="applyFilter(filterValue.value)"
        placeholder="Filter Allocations"
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
        <td mat-cell *matCellDef="let allocation">
          {{ allocation.userId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="miId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enumber</th>
        <td mat-cell *matCellDef="let allocation">
          {{ allocation.miId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let allocation">
          {{ allocation.firstName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let allocation">
          {{ allocation.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumbers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Contact Number
        </th>
        <td mat-cell *matCellDef="let allocation">
          {{ allocation.phoneNumber }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
