<div *ngIf="!selectedEvent && events$ | async as data; else loadingTemplate">
  <!-- <button (click)="bulkUpload()">Bulk Upload</button> -->
  <mi-calendar
    [showDescription]="true"
    [showDateNavigator]="true"
    [events]="data"
    [startDate]="customStartDate"
    [startTime]="'08:00'"
    [scrollToCurrentTime]="false"
    (eventDoubleClick)="onEventEdit($event)"
  >
    <ng-template let-event>
      <div class="event-details">
        {{ event?.offeringGroupCode }} - {{ event?.groupNumber }} -

        {{ event?.classNumber }}
        <div>
          {{ event?.roomCode }}
        </div>
        <br />
        <div class="lead">
          {{ event?.leadName }}
        </div>
      </div>

      <div class="event-radio-buttons">
        <label *ngFor="let option of ['H', 'M', 'L', 'X']">
          <input
            type="radio"
            [value]="option"
            [name]="event.id"
            [checked]="
              tutorPreferencesMap.get(buildClassCode(event)) === option
            "
            (change)="updatePreferences(event, option)"
          />
          {{ option }}
        </label>
      </div>
    </ng-template>
  </mi-calendar>
</div>
<mi-dynamic-form
  *ngIf="selectedEvent"
  [formConfiguration]="selectedEvent.formConfiguration"
  [formGroupData]="selectedEvent"
  (formSubmit)="onFormSubmit($event)"
></mi-dynamic-form>
<ng-template #loadingTemplate>
  <mi-loading></mi-loading>
</ng-template>
