<button (click)="bulkUpload()">Bulk Upload</button>

<div *ngIf="!selectedEvent && events$ | async as data">
  <mi-calendar
    [showDescription]="false"
    [showDateNavigator]="true"
    [events]="data"
    [startDate]="customStartDate"
    [startTime]="'08:00'"
    [scrollToCurrentTime]="false"
    (eventDoubleClick)="onEventEdit($event)"
  >
    <ng-template let-event>
      <ng-container>
        {{ event?.offeringGroupCode }} - {{ event?.groupNumber }} -

        {{ event?.classNumber }}
        <div>
          {{ event?.roomCode }}
        </div>
      </ng-container>

      <ng-container class="event-radio-buttons">
        <label *ngFor="let option of ['H', 'M', 'L', 'X']">
          <input
            type="radio"
            [value]="option"
            [name]="event.id"
            [checked]="
              tutorPreferencesMap.get(buildClassCode(event)) === option
            "
            (change)="updatePreferences(event, option)"
          />
          {{ option }}
        </label>
      </ng-container>
    </ng-template>
  </mi-calendar>
</div>
<mi-dynamic-form
  *ngIf="selectedEvent"
  [formConfiguration]="selectedEvent.formConfiguration"
  [formGroupData]="selectedEvent"
  (formSubmit)="onFormSubmit($event)"
></mi-dynamic-form>
