app-course-schedule .event-radio-buttons label {
  font-size: 6px; // Smaller font size
}

app-course-schedule .event-radio-buttons input[type="radio"] {
  transform: scale(0.5); // Smaller radio buttons
}

.event-radio-buttons label {
  font-size: 6px !important;
}

.event-radio-buttons input[type="radio"] {
  transform: scale(0.5) !important;
}
