<div *ngIf="!selectedEvent && events$ | async as data; else loadingTemplate">
  <div
    *ngIf="
      currentUser.email === 'rodney.cocker@gmail.com' ||
      currentUser.email === 'craig.cocker@gmail.com'
    "
  >
    <button mat-raised-button (click)="bulkUpload()">Bulk Upload</button>
  </div>

  <mi-calendar
    [showDescription]="false"
    [showDateNavigator]="true"
    [events]="data"
    [startDate]="customStartDate"
    [startTime]="'08:00'"
    [scrollToCurrentTime]="false"
    [hideShowAll]="true"
    (eventDoubleClick)="onEventEdit($event)"
  >
    <ng-template let-event>
      <div
        class="event-details"
        [ngClass]="{
          needStaff: event?.tutors?.includes('David Leon')
        }"
      >
        {{ event?.offeringGroupCode }} - {{ event?.groupNumber }} -

        {{ event?.classNumber }}
        <div>
          {{ event?.roomCode }}
        </div>
        <br />
        <div class="lead">
          {{ event?.leadName }}
        </div>
        <div
          class="tutor"
          *ngIf="
            currentUser.email === 'rodney.cocker@gmail.com' ||
            currentUser.email === 'craig.cocker@gmail.com' ||
            currentUser.email === 'edouard.amouroux4@rmit.edu.au' ||
            currentUser.email === 'julie.porteous@rmit.edu.au'
          "
        >
          <br />
          <div><u>Tutors</u></div>
          <div *ngFor="let tutor of event?.tutors">{{ tutor }}</div>
        </div>
      </div>
      <!--
      <div class="event-radio-buttons">
        <label *ngFor="let option of ['H', 'M', 'L', 'X']">
          <input
            type="radio"
            [value]="option"
            [name]="event.id"
            [checked]="
              tutorPreferencesMap.get(buildClassCode(event)) === option
            "
            (change)="updatePreferences(event, option)"
          />
          {{ option }}
        </label>
      </div>
      -->
    </ng-template>
  </mi-calendar>
</div>
<mi-dynamic-form
  *ngIf="selectedEvent"
  [formConfiguration]="selectedEvent.formConfiguration"
  [formGroupData]="selectedEvent"
  (formSubmit)="onFormSubmit($event)"
></mi-dynamic-form>
<ng-template #loadingTemplate>
  <mi-loading></mi-loading>
</ng-template>
