<mat-toolbar class="calendar-toolbar" *ngIf="showCalendarControls">
  <ng-container *ngIf="showDateNavigator">
    <button mat-icon-button (click)="goToToday()">
      <mat-icon>today</mat-icon>
    </button>

    <button mat-icon-button (click)="navigateTo('prev')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (dateChange)="onDateSelect($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button (click)="navigateTo('next')">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </ng-container>

  <div class="toolbar-options">
    <div *ngIf="showDateNavigator">
      <mat-form-field>
        <mat-label>Timeslot Increment</mat-label>
        <mat-select
          [(value)]="timeslotIncrement"
          (selectionChange)="initializeTimeslots()"
        >
          <mat-option value="15">15 minutes</mat-option>
          <mat-option value="30">30 minutes</mat-option>
          <mat-option value="60">1 hour</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="search-bar">
      <mat-label>Search Events</mat-label>
      <input
        matInput
        (input)="filterEvents($event.target.value)"
        placeholder="Search Events"
      />
    </mat-form-field>
    <div *ngIf="showDateNavigator">
      <mat-form-field>
        <mat-label>View</mat-label>
        <mat-select [(value)]="currentView" (selectionChange)="onViewChange()">
          <mat-option value="day">Day View</mat-option>
          <mat-option value="workWeek">Work Week View</mat-option>
          <mat-option value="week">Week View</mat-option>
          <mat-option value="month">Month View</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>
<div *ngIf="currentView === 'month'" class="month-heading">
  <h2>{{ getMonthName() }}</h2>
</div>
<div
  [class]="calendarClass"
  [ngStyle]="getGridStyle()"
  class="calendar"
  #calendar
>
  <div class="header-row">
    <div class="cell timeslot-header"></div>
    <div class="cell date-cell" *ngFor="let date of dates">
      {{ date | date : (currentView === "month" ? "EEE, d" : "EEE") }}
    </div>
  </div>
  <div class="content-row" *ngFor="let timeslot of timeslots; let i = index">
    <div class="cell timeslot-cell" id="timeslot-{{ i }}">{{ timeslot }}</div>
    <ng-container *ngFor="let date of dates">
      <div class="cell day-cell">
        <div
          class="timeslot-container"
          *ngIf="getEventsForTimeslot(timeslot, date).length"
        >
          <div
            *ngFor="let event of getEventsForTimeslot(timeslot, date)"
            class="event"
            [ngStyle]="calculateEventStyle(event, date, timeslot)"
            (dblclick)="onEventDoubleClick(event)"
          >
            <span *ngIf="showDescription" class="description">
              {{ event.description }}</span
            >

            <ng-container
              *ngTemplateOutlet="eventTemplate; context: { $implicit: event }"
            ></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
