<div>
  <h1>Allocations</h1>
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filter Allocations"
    />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- UserID Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
      <td mat-cell *matCellDef="let allocation">{{ allocation.userId }}</td>
    </ng-container>

    <!-- ClassCode Column -->
    <ng-container matColumnDef="classCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Class Code</th>
      <td mat-cell *matCellDef="let allocation">{{ allocation.classCode }}</td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let allocation">{{ allocation.priority }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
